@import "utils/__mixins";

@import "utils/__variables";

@import "components/__header";

@import "components/__heading";

@import "components/__advantages";

@import "components/__workscope";

@import "components/__crew";

@import "components/__clients";

@import "components/__footer";

@import "components/__modal";

@import "components/__portfolio";

@import "components/__menu-toggle";

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  color: $main-font-color;
  font-size: 14px;
  line-height: 16px;
  min-height: 100%;
  margin: 0 auto;
  min-width: 320px;
  max-width: 480px;
}
@media (min-width: $tablet-breakpoint) {
  body {
    min-width: 768px;
    max-width: 1199px;
  }
}
@media (min-width: $desktop-breakpoint) {
  body {
    min-width: 1200px;
    max-width: 1600px;
  }
}

header {
  display: flex;
  flex-direction: row;
  width: 100%;
}
@media (min-width: $tablet-breakpoint) and (max-width: 1199px) {
  header {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
@media (min-width: $desktop-breakpoint) {
  header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

footer {
  text-decoration: none;
  background: $black-box-color;
  padding-top: $padding-between-mobile;
  padding-bottom: $padding-between-mobile;
}
@media (min-width: $tablet-breakpoint) and (max-width: 1199px) {
  footer {
    height: 463px;
  }
}
@media (min-width: $desktop-breakpoint) {
  footer {
    padding-left: $padding-left-right;
    padding-right: $padding-left-right;
  }
}

section {
  padding-top: $padding-between-mobile;
  padding-bottom: $padding-between-mobile;
  width: 100%;
}
@media (min-width: $tablet-breakpoint) and (max-width: 1199px) {
  section {
    background-color: aqua;
  }
}
@media (min-width: $desktop-breakpoint) /*and (max-width: 1600px) */ {
  section {
    padding-top: $padding-between;
    padding-bottom: $padding-between;
    padding-left: $padding-left-right;
    padding-right: $padding-left-right;
    background-color: violet;
  }
}

ul {
  list-style-type: none;
  padding-left: 0;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 0.06em;
  text-align: center;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.75em;
  color: $logo-white-font-color;
}

h2 {
  text-align: center;
  font-size: 36px;
  padding-bottom: 50px;
}
h3 {
  text-align: center;
  padding-bottom: 10px;
  text-decoration: solid;
  padding-top: 20px;
}
@media (min-width: $desktop-breakpoint) {
  h3 {
    text-align: left;
  }
}

h4 {
  margin-top: 30px;
  margin-bottom: 10px;
  text-decoration: solid;
}

.container {
  width: 100%;
  padding: 0 15px;
}
@media (min-width: $tablet-breakpoint) and (max-width: 1199px) {
  .container {
    width: 768px;
  }
}
@media (min-width: $desktop-breakpoint) {
  .container {
    width: 1200px;
  }
}

.container-portfolio {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
