.section-advantages {
  line-height: 1.5em;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: $secondary-font-color;
}

.section-advantages__list-of-blocks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section-advantages__list-of-blocks {
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: $desktop-breakpoint) {
  .section-advantages__list-of-blocks {
    flex-direction: row;
  }
}

.section-advantages__block {

  .section-advantages__image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    
    background-color: $our-crew-background;

    .section-advantages__image--svg {
      height: 70px;
      width: 70px;
    }
  }
  @media (min-width: 1200px) {
    .section-advantages__image {
      width: 270px;
    }
  }
}

@media (min-width: 1200px) {
  .section-advantages__block {
    margin: 15px;
    width: 270px;
  }
}
