.section-clients {
  display: flex;
  flex-direction: column;
  width: 100%;

  .section-clients__logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .section-clients__logos--icons {
      display: flex;
      flex-wrap: wrap;
      padding: 8px;
      border: 1px solid;
      border-radius: 4px;
      cursor: pointer;
      border-color: $icon-color;
      fill: $icon-color;
      @extend %transition;
    }
    .section-clients__logos--icons:hover {
      fill: $brand-color;
      border-color: $brand-color;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .section-clients__logos {
      &--icons {
        flex-basis: calc((100% - 60px) / 3);
        width: 100%;
      }
    }
  }
  @media screen and (min-width: 1200px) {
    .section-clients__logos {
      flex-wrap: nowrap;
      column-gap: 30px;
      &--icons {
        width: 100%;
      }
    }
  }
}
