.section-clients {
  display: flex;
  flex-direction: column;

  .section-clients__logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;

    .section-clients__logos--icons {
      display: flex;
      flex-wrap: wrap;
      margin: 15px;
      padding: 8px;
      border: 1px solid;
      border-radius: 4px;
      cursor: pointer;
      border-color: $icon-color;
      fill: $icon-color;
      @extend %transition;
    }

    .section-clients__logos--icons:hover {
      fill: $brand-color;
      border-color: $brand-color;
    }
  }
  
  @media (min-width: 1200px) {
    .section-clients__logos {
      display: flex;
      flex-direction: row;
      width: 1200px;
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section-clients__logos {
    &--icons:hover {
      flex-basis: calc((100% - 60px) / 3);
    }
  }
}
