.section-crew {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $our-crew-background;

  & li {
    display: inline-flex;
    list-style: none;
    align-items: center;
  }

  .section-crew__list-of-members {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-breakpoint) {
    .section-crew__list-of-members {
      display: flex;
      flex-direction: row;
      column-gap: 30px;
    }
  }
}

@media (min-width: $desktop-breakpoint) {
  .section-crew {
    width: 1600px;
  }
}

.member-profile {
  text-align: center;
  font-size: 16px;
  line-height: 1.37em;
  letter-spacing: 0.03em;
  width: 100%;

  background: $logo-white-font-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  .member-profile__caption {
    margin-bottom: 30px;
  }

  .member-profile__icons-media {
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    fill: $icon-color;
    @extend %transition;

    &:hover {
      background-color: $brand-color;
      fill: $logo-white-font-color;
    }
    .member-profile__icons--svg-media {
      padding: 11px;
    }
  }
}

@media (min-width: $desktop-breakpoint) {
  .member-profile {
    display: flex;
    flex-direction: column;
    width: 270px;
  }
}
