.section-footer {
  display: flex;
  flex-direction: column;
  width: 480px;
}
@media (min-width: 1200px) {
  .section-footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1600px;
    padding-left: $padding-left-right;
    padding-right: $padding-left-right;
  }
}

/*    Logo and address    */

.foot-logo-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & p {
    padding-bottom: 9px;
    font-style: normal;
  }
  & a {
    display: flex;
    justify-content: center;
  }
  @media (min-width: 1200px) {
    p a {
      justify-content: flex-start;
      align-items: flex-start;
    }
  }

  .foot-logo-contact__logo-link {
    display: flex;
    flex-direction: row;

    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 2em;
    letter-spacing: 0.03em;
    color: $logo-white-font-color;

    .foot-logo-contact__logo-color {
      color: $footer-logo-color;
    }
  }

  a.foot-logo-contact__contact-link {
    color: $footer-contact-link-color;
    text-decoration: none;
    @extend %transition;

    &:hover {
      color: $brand-color;
    }
    &:active {
      color: $brand-color;
    }
  }
}
@media (min-width: 1200px) {
  .foot-logo-contact {
    justify-content: flex-start;
    align-items: flex-start;
  }
}

/*    Join us    */

.foot-join-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $logo-white-font-color;
  text-transform: uppercase;
  padding-bottom: $padding-between-mobile;

  & p {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media (min-width: 1200px) {
    p {
      justify-content: flex-start;
      padding-bottom: 20px;
    }
  }

  .foot-join-us__footer-icons {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    border-radius: 50%;
    cursor: $cursor-pointer;
    fill: $logo-white-font-color;
    background-color: rgba(255, 255, 255, 0.1);
    @extend %transition;

    &:hover {
      background-color: $brand-color;
    }
    .foot-join-us__footer-icons--svg-media {
      padding: 11px;
    }
  }
}
@media (min-width: 1200px) {
  .foot-join-us {
    padding-bottom: 40px;
    padding-left: 70px;
  }
}

/*     Newsletter     */

.foot-newsletter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $black-box-color;

  & p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    padding-bottom: 20px;
    color: $logo-white-font-color;
  }
  @media (min-width: 1200px) {
  p {
    justify-content: flex-start;
  }
}

  .foot-newsletter__email {
    display: inline;
    background-color: $black-box-color;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    height: 50px;
    padding-left: 16px;
    margin-right: 12px;
    width: 358px;
    font-size: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    @extend %transition;

    &:hover {
      border-color: $brand-color;
    }
  }
}
@media (min-width: 1200px) {
  .foot-newsletter {
  padding-left: 78px;
  padding-bottom: 48px;
  }
}


/*   Button   */

.foot-newsletter__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 480px;
  margin-top: 20px;

  .button__item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding-left: 40px;

    background-color: $brand-color;
    color: $logo-white-font-color;
    border-radius: 4px;
    font-size: 16px;
    @extend %transition;

    &:hover {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      cursor: $cursor-pointer;
    }
    .button__item--icon-send {
      margin: 13px 28px 13px 24px;
      fill: $logo-white-font-color;
    }
  }
}
@media (min-width: 1200px) {
  .foot-newsletter__button {
    width: 200px;
    height: 50px;
    margin-top: 48px;
    margin-bottom: 34px;
  }
}


