.header-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  border-bottom: 1px solid $navbar-border-color;
}

/*   Logo   */

.logo a {
  display: flex;
}
@media (min-width: $tablet-breakpoint) and (max-width: 1199px) {
  .logo {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
@media (min-width: $desktop-breakpoint) {
  .logo {
    padding-top: 24px;
    padding-bottom: 24px;
    margin: 0 auto;
    
  }
}
.logo-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 2em;
  letter-spacing: 0.03em;
  color: $logo-black-font-color;

  .logo-link__logo-color {
    color: $brand-color;
  }
}

/*   Navigation links   */

.navigation-links {
  display: none;
  flex-direction: row;
  align-items: flex-end;
  column-gap: 46px;
  font-weight: 500;
  letter-spacing: 0.02em;

  & .active::after {
    position: absolute;
    content: "";
    display: block;
    width: 53px;
    height: 4px;
    border-radius: 4px;
    background-color: $brand-color;
    margin-top: 47px;
    margin-bottom: 0;
  }
  & a {
    color: $main-font-color;
    text-decoration: none;
  }
  & a:hover {
    color: $brand-color;
  }
  @media (min-width: $desktop-breakpoint) {
    .active::after {
      margin-top: 39px;
    }
  }
  .navigation-links__top-link {
    text-decoration: none;
    color: $main-font-color;
    @extend %transition;

    &:hover {
      color: $brand-color;
    }
    &:active {
      color: $brand-color;
    }
  }
}
@media (min-width: $tablet-breakpoint) and (max-width: 1199px) {
  .navigation-links {
    display: flex;
    padding-left: 15px;
    justify-content: center;
    align-items: center;
    padding-left: 83px;
    padding-right: 101px;
  }
}
@media (min-width: $desktop-breakpoint) {
  .navigation-links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 90px;
    padding-right: 300px;
  }
}

/*   Contact links   */

.contact-links {
  display: none;
  column-gap: 46px;
  font-weight: 500;
  letter-spacing: 0.02em;

  & a {
    display: flex;
    align-items: center;
    color: $main-font-color;
  }

  .contact-links__top-contact {
    text-decoration: none;
    color: $main-font-color;
    @extend %transition;

    &:hover {
      color: $brand-color;
    }
    &:active {
      color: $brand-color;
    }
    &:hover .contact-links__contact-link--icon {
      fill: $brand-color;
    }
    .contact-links__contact-link--icon {
      display: flex;
      flex-direction: row;
      height: 30px;
      width: 20px;
      fill: $main-font-color;
      @extend %transition;
    }
  }
}
@media (min-width: $tablet-breakpoint) and (max-width: 1199px) {
  .contact-links {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
}
@media (min-width: $desktop-breakpoint) {
  .contact-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
  }
}
