.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid $navbar-border-color;
  margin: 0;
}

/*   Logo   */

.logo a {
  display: flex;
  margin-left: 15px;
}

.logo-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 2em;
  letter-spacing: 0.03em;
  color: $logo-black-font-color;

  .logo-link__logo-color {
    color: $brand-color;
  }
}

/*   Navigation links   */

.navigation-links {
  display: none;
  flex-direction: row;
  align-items: flex-end;
  column-gap: 46px;
  font-weight: 500;
  letter-spacing: 0.02em;
  margin: 0;
  padding-left: 93px;

  & .active::after {
    position: absolute;
    content: "";
    display: block;
    width: 53px;
    height: 4px;
    border-radius: 4px;
    background-color: $brand-color;
    margin-top: 28px;
    margin-bottom: 0;
  }
  & a {
    color: $main-font-color;
    text-decoration: none;
  }

  & a:hover {
    color: $brand-color;
  }

  .navigation-links__top-link {
    text-decoration: none;
    color: $main-font-color;
    @extend %transition;

    &:hover {
      color: $brand-color;
    }
    &:active {
      color: $brand-color;
    }
  }
}

@media (min-width: 1200px) {
  .navigation-links {
    display: flex;
  }
}

/*   Contact links   */

.contact-links {
  display: none;
  padding: 0px 227px;
  column-gap: 46px;
  font-weight: 500;
  letter-spacing: 0.02em;

  & a {
    display: flex;
    align-items: center;
    color: $main-font-color;
  }

  .contact-links__top-contact {
    text-decoration: none;
    color: $main-font-color;
    @extend %transition;

    &:hover {
      color: $brand-color;
    }
    &:active {
      color: $brand-color;
    }
    &:hover .contact-links__contact-link--icon {
      fill: $brand-color;
    }
    .contact-links__contact-link--icon {
      display: flex;
      flex-direction: row;
      margin-right: 10px;
      height: 30px;
      width: 20px;
      fill: $main-font-color;
      @extend %transition;
    }
  }
}
@media (min-width: 1200px) {
  .contact-links {
    display: flex;
  }
}

/* menu burger */
