.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background: $black-box-color;
  padding: 200px 452px 200px 452px;
  background-image: linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/main-page/Baner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;

  .heading__text {
    display: flex;
    justify-content: center;
  }
}

.heading__button {
  padding: 10px 41px 10px 42px;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  line-height: 1.87em;
  background-color: $brand-color;
  color: $logo-white-font-color;
  cursor: pointer;
  &:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
