/*   Wysuwane menu nawigacji   */

.mobile-menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  padding: 48px 40px;
  z-index: 998;
  overflow-x: hidden;
  background-color: $logo-white-font-color;

  transition: transform 250ms ease-in-out;
  transform: translateX(0%) translateY(100%) scale(0) rotate(90deg);
}
@media (min-width: $tablet-breakpoint) {
  .mobile-menu {
    display: none;
  }
}
@media (min-width: $desktop-breakpoint) {
  .mobile-menu {
    display: none;
  }
}

/*   Przycisk menu toggle   */

.mobile-menu__toggle-button {
  display: flex;
  visibility: visible;
  height: 40px;
  width: 40px;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  @extend %transition;

  .mobile-menu__toggle-button:hover {
    color: $brand-color;
  }
  .mobile-menu__toggle-button:focus {
    color: $logo-white-font-color;
    background-color: $brand-color;
  }
  .mobile-menu__toggle-button--icon {
    color: aqua;
  }
}
@media (min-width: $tablet-breakpoint) {
  .mobile-menu__toggle-button {
    display: none;
    visibility: hidden;
  }
}
@media (min-width: $desktop-breakpoint) {
  .mobile-menu__toggle-button {
    display: none;
    visibility: hidden;
  }
}

/*   Linki nawigacji i kontaktu   */

.mobile-menu__list-of-pages {
  display: flex;
  flex-direction: column;
  font-size: 40px;
  line-height: 47px;
  height: 100%;
  row-gap: 302px;

  color: $main-font-color;

  .list-of-pages__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 32px;

    .list-of-pages__links--sides {
      display: flex;
      justify-content: flex-start;
      align-items: inherit;
      text-decoration: none;
      color: $main-font-color;
      @extend %transition;
      &:hover {
        color: $brand-color;
      }
      &:focus {
        color: $brand-color;
      }
    }
    .list-of-pages__links--contacts {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-style: normal;
      text-decoration: none;
    }
    .telephone {
      color: $brand-color;
    }
    .email {
      color: $secondary-font-color;
      padding-bottom: 32px;
      &:hover {
        color: $brand-color;
      }
      &:focus {
        color: $brand-color;
      }
    }
    .list-of-pages__links--social-media {
      display: flex;
      justify-content: flex-start;
      font-style: normal;
      text-decoration: none;
      font-size: 18px;
      line-height: 22px;
      padding: 10px;

      .list-of-pages__links--instagram {
        padding: 10px;
        color: $brand-color;
      }
      .list-of-pages__links--twitter {
        padding: 10px;
        color: $brand-color;
        border-left: 1px solid rgba(33, 33, 33, 0.2);
      }
      .list-of-pages__links--facebook {
        padding: 10px;
        color: $brand-color;
        border-left: 1px solid rgba(33, 33, 33, 0.2);
        border-right: 1px solid rgba(33, 33, 33, 0.2);
      }
      .list-of-pages__links--linkedin {
        padding: 10px;
        color: $brand-color;
      }
    }
  }
}

/*   Hamburger   */

.menu-toggle {
  display: flex;
  border: 10px solid $logo-white-font-color;
  background-color: $logo-white-font-color;
  color: $logo-white-font-color;
}
@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

/*   otwarcie i zamkniecie okna menu   */

.close-menu {
  display: flex;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  visibility: visible;
}
.is-open {
  transform: translateX(100%);
}

/*   Hybrydy   */

.mobile-menu .mobile-menu__toggle-button {
  position: fixed;
  display: flex;
  top: 10px;
  right: 10px;
}
@media (min-width: $tablet-breakpoint) {
  .mobile-menu .mobile-menu__toggle-button {
    display: none;
  }
}
@media (min-width: $desktop-breakpoint) {
  .mobile-menu .mobile-menu__toggle-button {
    display: none;
  }
}

.menu .mobile-menu__toggle-button--links {
  display: flex;
  padding: 10px;
  text-decoration: none;
}
.menu .mobile-menu__toggle-button--links:focus {
  color: $brand-color;
}
