/*   Wysuwane menu nawigacji   */

.mobile-menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  padding: 32px;
  background-color: $brand-color;
  z-index: 998;
  overflow-x: hidden;
  transition: transform 250ms ease-in-out;
  transform: translateX(0%) translateY(100%) scale(0) rotate(90deg);
}
@media (min-width: $tablet-breakpoint) {
  .mobile-menu {
    display: none;
  }
}
@media (min-width: $desktop-breakpoint) {
  .mobile-menu {
    display: none;
  }
}


/*   Przycisk menu toggle   */


.mobile-menu__toggle-button {
  display: flex;
  visibility: visible;
  height: 40px;
  width: 40px;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  @extend %transition;

  .mobile-menu__toggle-button:hover {
    color: $brand-color;
  }
  .mobile-menu__toggle-button:focus {
    color: $logo-white-font-color;
    background-color: $brand-color;
  }
  .mobile-menu__toggle-button--icon {
    border-color: aqua;
  }
}
@media (min-width: $tablet-breakpoint) {
  .mobile-menu__toggle-button {
    display: none;
    visibility: hidden;
  }
}
@media (min-width: $desktop-breakpoint) {
  .mobile-menu__toggle-button {
    display: none;
    visibility: hidden;
  }
}

/*   Linki nawigacji i kontaktu   */


.mobile-menu__list-of-pages {
  flex-direction: column;
  font-size: 40px;
  line-height: 47px;
  text-decoration: none;
  color: $main-font-color;

  .list-of-pages__links {
    .list-of-pages__links--sides {
      display: flex;
      justify-content: center;
      align-items: center;

      color: $main-font-color;
    }
    .list-of-pages__links--contacts {
      display: flex;
      justify-content: center;
      align-items: center;

      color: $main-font-color;
    }
  }
}


/*   Hamburger   */

.menu-toggle {
  display: flex;
}
@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}





/*   otwarcie i zamkniecie okna menu   */

.close-menu {
  display: flex;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  visibility: visible;
}
.is-open {
  transform: translateX(100%);
}


/*   Hybrydy   */

.mobile-menu .mobile-menu__toggle-button {
  position: fixed;
  display: flex;
  top: 10px;
  right: 10px;
}
@media (min-width: $tablet-breakpoint) {
  .mobile-menu .mobile-menu__toggle-button {
    display: none;
  }
}
@media (min-width: $desktop-breakpoint) {
  .mobile-menu .mobile-menu__toggle-button {
    display: none;
  }
}

.menu .mobile-menu__toggle-button--links {
  display: flex;
  padding: 10px;
  text-decoration: none;
}
.menu .mobile-menu__toggle-button--links:focus {
  color: $brand-color;
}

