/*   General classes   */

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  border-radius: 4px;
  background-color: $logo-white-font-color;
  @extend %transition;

  &:hover {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: $logo-white-font-color;
  fill: $logo-black-font-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: $cursor-pointer;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateX(-50%) translateY(-50%) scale(0) rotate(0deg)
    skew(40deg, 40deg);
}

/*  Name and contact form  */

.modal__form {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
}

.modal__form-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 40px 30px 40px;
  font-size: 20px;
  line-height: 23px;
}

.modal__rubric {
  display: flex;
  flex-direction: column;

  & p {
    padding-left: 40px;
    padding-bottom: 4px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: #757575;
  }

  .modal__box {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 15px;
    width: 448px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-left: 40px;
    margin-bottom: 28px;
    @extend %transition;

    &:hover {
      border-color: $brand-color;
      fill: $brand-color;
    }
    &:focus {
      border-color: $brand-color;
      fill: $brand-color;
    }

    .modal__box--icon {
      display: inline-flex;
      border: none;
      margin-right: 15px;
      @extend %transition;
    }
    &:focus-within {
      border-color: $brand-color;
      fill: $brand-color;
    }

    .modal__box--row {
      display: inline-flex;
      cursor: text;
      width: 100%;
      height: 100%;
      border: none;
      @extend %transition;

      &:hover {
        border-color: $logo-white-font-color;
      }
      &:focus {
        border-color: $logo-white-font-color;
      }
    }
  }
}

/*   Comment rubric   */

.comment-rubric {
  display: flex;
  flex-direction: column;

  & p {
    padding-left: 40px;
    padding-bottom: 4px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: $secondary-font-color;
  }

  .comment-rubric__comment {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-left: 40px;

    textarea {
      resize: none;
      height: 120px;
      width: 448px;
      padding: 12px 16px 12px 16px;
      border: 1px solid rgba(33, 33, 33, 0.2);
      border-radius: 4px;
      @extend %transition;

      &:hover {
        border-color: $brand-color;
      }
      &:focus {
        border-color: $brand-color;
      }
    }
  }
}

/*   Statement section   */

.law-rules__checkbox-frame--checkbox:checked
  ~ .law-rules__checkbox-frame--check-sign {
  background-color: $brand-color;
  fill: $logo-white-font-color;
  visibility: visible;
}

.law-rules {
  display: block;
  position: relative;
  cursor: $cursor-pointer;
  margin-top: 25px;
  margin-left: 54px;
  margin-right: 7px;

  & .law-rules__text-field:not(a.law-rules__text-field--law-link) {
    color: $secondary-font-color;
  }

  .law-rules__checkbox-frame {
    position: absolute;
    display: block;
    border: 1px solid #212121;
    border-radius: 2px;
    height: 17px;
    width: 18px;
  }
  .law-rules__checkbox-frame--checkbox {
    position: absolute;
    display: block;
    opacity: 0;
    cursor: $cursor-pointer;
    height: 0;
    width: 0;
  }

  .law-rules__checkbox-frame--check-sign {
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 15px;
    visibility: hidden;
  }

  .law-rules__text-field {
    padding-left: 20px;

    a.law-rules__text-field--law-link {
      color: $brand-color;
      text-decoration: underline;
    }
  }
}

.send-button {
  border: none;
  padding: 10px 76px 10px 76px;
  margin: 30px 164px 40px 164px;
  background-color: $brand-color;
  color: $logo-white-font-color;
  border-radius: 4px;
  font-size: 16px;
  line-height: 30px;
  @extend %transition;

  &:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
  }
  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
  }
}
