.section-workscope {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;

  .section-workscope__list {
    display: flex;
    column-gap: 30px;

    @each $workscope in workscope__computers, workscope__mobile,
      workscope__graphic
    {
      .#{$workscope}--image {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 370px;
        height: 294px;
        background-image: url("../images/main-page/#{$workscope}.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }

      .section-workscope__gradient {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70px;
        text-transform: uppercase;
        color: $logo-white-font-color;
        background-image: linear-gradient(
          to bottom,
          rgba(47, 48, 58, 0.8),
          rgba(47, 48, 58, 0.8)
        );
      }
    }
  }
}
@media (min-width: $desktop-breakpoint) {
  .section-workscope {
    display: flex;
    margin: 0 auto;
    width: 100%;
  }
}
