.section-workscope {
  display: none;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;

  
  .section-workscope__list {
    display: none;
    flex-direction: row;
    column-gap: 30px;

    @each $workscope in workscope__computers, workscope__mobile,
      workscope__graphic
    {
      .#{$workscope}--image {
        display: none;
        flex-direction: column;
        justify-content: flex-end;
        width: 370px;
        height: 294px;
        background-image: url("../images/main-page/#{$workscope}.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }

      .section-workscope__gradient {
        display: none;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 70px;
        color: $logo-white-font-color;
        background-image: linear-gradient(
          to bottom,
          rgba(47, 48, 58, 0.8),
          rgba(47, 48, 58, 0.8)
        );
        & p {
          display: none;
          flex-direction: row;
          align-items: center;
          text-transform: uppercase;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
    .section-workscope {
      display: flex;
    }
  }
