
$main-font-color: #212121;
$secondary-font-color: #757575;
$brand-color: #2196f3;
$logo-black-font-color: #000000;
$logo-white-font-color: #ffffff;
$black-box-color: #2f303a;
$our-crew-background: #f5f4fa;
$focus-color: palevioletred;
$footer-contact-link-color: #ffffff99;
$navbar-border-color: #ececec;
$footer-logo-color: #2196f3;
$icon-color: #afb1b8;

%transition {
   transition-property: fill, color, background-color, border-color, transform, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
}

$padding-between: 94px;

$cursor-pointer: pointer;